# STM32F4DISCOVERY board configuration

# Copyright (c) 2016 Linaro Limited.
# SPDX-License-Identifier: Apache-2.0

if BOARD_STM32F4_CUSTOM

config BOARD
	default "stm32f4_custom"

endif # BOARD_STM32F4_CUSTOM
